/* Responsive Design CSS for Smartphone Plus */
#tabs > .tab-nav,
#txt2img_extra_tabs > .tab-nav {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    min-height: 1.6rem !important;
}
#tabs > .tab-nav > button,
#txt2img_extra_tabs > .tab-nav > button {
    height: 1.6rem;
    padding: 0px 16px;
}

#txt2img_extra_tabs > .tab-nav > button:nth-child(2),
#txt2img_extra_tabs > .tab-nav > button:nth-child(3),
#txt2img_extra_tabs > .tab-nav > button:nth-child(4) {
    display: none;
}

#txt2img_results {
    margin: 0 !important;
}

#txt2img_lora_cards > .card {
    height: 4rem;
    margin: 0 !important;
    font-size: 50% !important;
}

#quicksettings, 
#txt2img_tools, 
.extra-networks-controls-div {
    display: none;
}

/* Negaボタンで切り替え */
.nega-hidden #txt2img_prompt_container > div:last-child,
.nega-hidden #txt2img_actions_column {
    display: none;
}

/* Sampleボタンで切り替え */
.sample-hidden #sampler_selection_txt2img {
    display: none;
}

/* Sizeボタンで切り替え */
.size-hidden #txt2img_column_size,
.size-hidden #txt2img_dimensions_row {
    display: none;
}

#txt2img_prompt textarea {
    height: 12rem !important;
}

#txt2img_accordions,
#txt2img_column_batch {
    display: none;
}

#txt2img_cfg_scale,
#txt2img_seed_row,
#txt2img_seed_extras,
#txt2img_override_settings_row {
    display: none;
}

#txt2img_script_container {
    display: none;
}
