/* Responsive Design CSS for Smartphone Plus */
.tab-nav {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-x: scroll !important;
    min-height: 1.6rem !important;
}
.tab-nav > button {
    height: 1.6rem;
    padding: 0px 16px;
}
#tabs {
    background-color: var(--background-fill-primary);
    margin-top: 1.6rem;
}
#tabs > .tab-nav {
    background-color: var(--background-fill-primary) !important;
    margin-top: -1.6rem;
    z-index: 10000;
}
.app {
    padding: 0 !important;
}

/* t2i prompter */
#txt2img_prompt textarea,
#img2img_prompt textarea {
    height: 12rem !important;
}
/* t2i result screen */
#txt2img_results {
    margin: 0 !important;
}

/* checkpoint,lora cards */
#txt2img_lora_cards > .card,
#txt2img_checkpoints_cards > .card, 
#img2img_lora_cards > .card,
#img2img_checkpoints_cards > .card {
    height: 6rem;
    width: 100%;
    margin: 0 !important;
    font-size: 75% !important;
}
#txt2img_checkpoints_dirs > button,
#txt2img_lora_dirs > button,
#img2img_checkpoints_dirs > button,
#img2img_lora_dirs > button {
    height: 1.6rem;
}

#img2img_image,
#img2img_sketch,
#img2maskimg, 
#inpaint_sketch {
    height: auto !important;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

/* Hide some UI parts */
#txt2img_tools, 
#txt2img_extra_tabs > .tab-nav > button:nth-child(2),
#txt2img_extra_tabs > .tab-nav > button:nth-child(3),
#img2img_extra_tabs > .tab-nav > button:nth-child(2),
#img2img_extra_tabs > .tab-nav > button:nth-child(3),
#quicksettings,
.extra-networks-controls-div {
    display: none;
}

.nega-prompt-hidden #sspp-nega-prompt {
    background-color: #ccc !important;
}
.nega-prompt-hidden #txt2img_neg_prompt_row,
.nega-prompt-hidden #txt2img_actions_column, 
.nega-prompt-hidden #img2img_neg_prompt_row,
.nega-prompt-hidden #img2img_actions_column {
    display: none;
}

.config-hidden #sspp-config {
    background-color: #ccc !important;
}
.config-hidden #txt2img_seed_row,
.config-hidden #txt2img_seed_extras,
.config-hidden #resize_mode,
.config-hidden #soft_inpainting_enabled,
.config-hidden #soft_inpainting_enabled,
.config-hidden #img2img_denoising_strength,
.config-hidden #img2img_seed_row,
.config-hidden #img2img_seed_extras {
    display: none;
}
.config-hidden #sampler_selection_txt2img,
.config-hidden #txt2img_accordions,
.config-hidden #txt2img_column_size,
.config-hidden #txt2img_dimensions_row,
.config-hidden #txt2img_column_batch,
.config-hidden #txt2img_cfg_scale,
.config-hidden #txt2img_override_settings_row,
.config-hidden #txt2img_script_container,
.config-hidden #sampler_selection_img2img,
.config-hidden #img2img_accordions,
.config-hidden #img2img_column_size,
.config-hidden #img2img_dimensions_row,
.config-hidden #img2img_column_batch,
.config-hidden #img2img_cfg_scale,
.config-hidden #img2img_override_settings_row,
.config-hidden #img2img_script_container {
    display: none;
}
.size-select #sspp-size {
    background-color: #ccc !important;
}
.size-select #sspp-size-selector {
    display: flex !important;
}

