/* the Panel is shown only in smart phone */
@media (min-width: 769px) {
    #sd-smartphone-plus-panel {
        display: none !important;
    }
}

/* panel */
#sd-smartphone-plus-panel {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 10000;
}

#sd-smartphone-plus-panel > button {
    pointer-events: auto;
    position: relative;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    min-height: 2.4rem;
    padding: 0rem 0.6rem;
    padding-top: 1.6rem;
    margin: 0.1rem;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: top;
}

#sd-smartphone-plus-panel > button.operator {
    display: none;
}
#sd-smartphone-plus-panel > div.selector {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 4rem;
    left: 4rem;
    right: 4rem;
}
button.selector-item {
    pointer-events: auto;
    height: 2rem;
    padding: 0rem 0.6rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    margin: 0.1rem;
}

#sspp-inject-css {
    background-image: url('./svg/power.svg');
}
#sspp-config {
    background-image: url('./svg/cog.svg');
}
#sspp-nega-prompt {
    background-image: url('./svg/receipt-text-minus.svg');
}
#sspp-sampling {
    background-image: url('./svg/layers-triple.svg');
}
#sspp-size {
    background-image: url('./svg/resize.svg');
}

#sd-smartphone-plus-panel.opened > #sspp-inject-css {
    background-color: #ccc;
}
#sd-smartphone-plus-panel > #sspp-inject-css > span.sspp-button-label-on {
    display: none;
}
#sd-smartphone-plus-panel.opened > #sspp-inject-css > span.sspp-button-label-on {
    display: flex;
}
#sd-smartphone-plus-panel > #sspp-inject-css > span.sspp-button-label-onff {
    display: flex;
}
#sd-smartphone-plus-panel.opened > #sspp-inject-css > span.sspp-button-label-off {
    display: none;
}
#sd-smartphone-plus-panel.opened > button.operator {
    display: flex;
}

